

.glass{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.slate-800{
    background-color: #7f92aa;
}
.h2-size{
    width: 17rem;
}
md:\small-h2-size{
    width: 13rem;
}
.custombackground{
    background: linear-gradient(90deg, rgba(89, 34, 143,1) 20.050007548309182%,rgba(89, 33, 142,1) 20.050007548309182%,rgba(135, 18, 110,1) 80.05151721014494%);
}

.loader {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .loader div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .loader div:nth-child(1) {
    left: 8px;
    animation: loader1 0.6s infinite;
  }
  .loader div:nth-child(2) {
    left: 8px;
    animation: loader2 0.6s infinite;
  }
  .loader div:nth-child(3) {
    left: 32px;
    animation: loader2 0.6s infinite;
  }
  .loader div:nth-child(4) {
    left: 56px;
    animation: loader3 0.6s infinite;
  }
  @keyframes loader1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes loader3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes loader2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  